<article class="linknote">
  <header>
    <h1>{{ .Title }}</h1>
    <ul>
      <li>Posted by <strong>Matt</strong> (<a href="{{ .Permalink }}">Permalink</a>)</li>
      <li>Published on <time>{{ .PublishDate.Format "2 January 2006" }}</time></li>
 <li>Last commit: <a href="https://codeberg.org/mattjones/pages/commit/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a></li>
 
    </ul>
  </header>

  {{ if isset .Params "resources" }}
  {{ if $header := (.Resources.ByType "image").GetMatch "header" }}
  {{ $resource := $header }}
  {{ $image := $resource.Fit "1400x1400" }}
  {{if $header}}

  <figure>
    <img alt="{{ with .Params.imageCaption }}{{ . }}{{ end }}"src="{{ $image.RelPermalink }}" loading="lazy">
    <figcaption >
      <span id="caption">
      {{if .Params.imageCaption }}
      {{ .Params.imageCaption }}
      {{ end }}
      </span>
      {{ if .Params.imageAttrib }}
      <span id="credit">
        Credit: <a href="{{ .Params.imageURL }}">{{ .Params.imageAttrib }}</a>
        {{ if .Params.imageLicense }}
         &middot; <span id="license">
          <a href="{{ .Params.licenseURL }}">
            {{ .Params.imageLicense }}
          </a>
        </span>
        {{ end }}
      </span>
      {{ end }}

    </figcaption>
  </figure>

  {{ end }}
  {{ end }}
  {{ end }}


  {{ .Summary }}

  <p><a href="{{ .Permalink }}">Continue reading &#x27F6;</a>

  <footer>
    {{ partial "tags.html" .}}
  </footer>
<hr/>
</article>
