{{ define "main" }}

<script>
  var home_url = '{{ .Params.baseURL }}';
  if ( 0 === document.referrer.indexOf( home_url ) ) {
  document.getElementById( 'back-link' ).href = document.referrer;
  }
</script>

<nav>
  {{ $currentPage := . }}
  <ul style="list-style:none;margin:0;padding:0;">
{{ range .Site.Menus.main }}
<li style="margin-bottom:0.5rem;"><a style="font-size:1.5rem;" class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
{{ end }}
</ul>
</nav>


{{ end }}
