{{ define "main" }}
<article>
  <h1>Posts Archive</h1>
  <p>Below are {{ len .Site.RegularPages }} posts written over nearly 24 years. The blog started out as frownland.com in October 2000 and at the time was only one of a handful of UK based 'weblogs'.</p>
  <p>At that time I wrote a lot about tech, web development, web standards and anything else that took my interest, and it gained a small following. <p>

  <p>Only a few years into it I somehow lost interest, let the domain slip and blogging became a more sporadic activity for me as I moved the blog archive around various top-level domains.</p>

  <p>Still, I'm pleased to have this archive to look back on to see what me as a 20-something year-old was thinking about back then.</p>
      <hr/>
          <ul class="contents">
          {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
              <li><a href="{{ .Permalink }}">{{.Title}} <strong>{{ .PublishDate.Format "2 January 2006" }}</strong></a></li>
           {{ end }}
          </ul>
<hr/>
</article>

{{ end }}
