{{ define "main" }}

<article>
  <section>
    <h1>Latest Five Posts</h1>
    {{ range first 10 (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
    {{ .Render "summary" }}
    {{ end }} 
  </section>

  {{ if gt (len (where site.RegularPages "Type" "in" site.Params.mainSections)) 10 }}
  <section>
    <h2>Previous posts</h2>
    <ul>
      {{ range first 30 (after 10 (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse) }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </section>
  {{ end }}  
 </article>
{{ end }}
