{{ define "main" }}

<article>
  <section>
    <h1>Latest Five Posts</h1>
    {{ range first 10 (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
    {{ .Render "summary" }}
    {{ end }} 
  </section>

  {{ if gt (len (where site.RegularPages "Type" "in" site.Params.mainSections)) 10 }}
  <section>
    <h2>Previous posts</h2>
    {{ $pages := first 10 (after 10 (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse) }}
    {{ $grouped := $pages.GroupByDate "2006" }}  <!-- Groups by year -->
    
    {{ range $grouped }}
      <h3>{{ .Key }}</h2> <!-- Year heading -->
      <ul>
        {{ range .Pages }}
        <li><a href="{{ .Permalink }}">{{.Title}} <strong>{{ .PublishDate.Format "2 January 2006" }}</strong></a></li>
        {{ end }}
      </ul>
    {{ end }}
    <a href="/post/">Full archive ⟶</a>
  </section>
  {{ end }}  
 </article>
{{ end }}



