{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get "name")) }}
{{ $command := .Get "command" }}
{{ $options := .Get "options" }}
{{ if eq $command "Fit"}}
{{ .Scratch.Set "image" ($original.Fit $options) }}
{{ else if eq $command "Resize"}}
{{ .Scratch.Set "image" ($original.Resize $options) }}
{{ else if eq $command "Fill"}}
{{ .Scratch.Set "image" ($original.Fill $options) }}
{{ else }}
{{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
{{ end }}
{{ $image := .Scratch.Get "image" }}
<figure>
  <img alt="{{ with .Get "imageCaption"}}{{ . }}{{ end }}" src="{{ $image.RelPermalink }}" loading="lazy">

  <figcaption>
    {{ with .Get "imageCaption"}}
    <span id="caption">{{ . }}</span> 
    {{ end }}
    
    <span id="credit">
      {{ if .Get "imageAttrib" }}Attribution: <a href="{{ with .Get "imageURL" }}{{ . }}{{ end }}">{{ with .Get "imageAttrib" }}{{ . }}{{ end }}</a> &middot; {{ end }}
      <span id="license">
        <a href="{{ with .Get "licenseURL" }}{{ . }}{{ end }}">
          {{ with .Get "imageLicense" }}
          {{ . }}
          {{ end }}
        </a>
      </span>
    </span>

  </figcaption>

</figure>



